@font-face {
	font-family: 'nskr';
	src: local("NotoSans Regular"), url("./fonts/NotoSansKR-Regular.woff2") format("woff2"), url("./fonts/NotoSansKR-Regular.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}

  @font-face {
	font-family: 'nskr';
	src: local("NotoSans Medium"), url("./fonts/NotoSansKR-Medium.woff2") format("woff2"), url("./fonts/NotoSansKR-Medium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

  @font-face {
	font-family: 'nskr';
	src: local("NotoSans Bold"), url("./fonts/NotoSansKR-Bold.woff2") format("woff2"), url("./fonts/NotoSansKR-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}



html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
blockquote,
pre,
abbr,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside,
address,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -ms-high-contrast-adjust: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

fieldset,
img {
  border: 0 none;
}

img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

ul,
ol,
menu,
li {
  list-style: none;
}

label {
  vertical-align: middle;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  margin: 0;
  padding: 0;
  font-style: normal;
}

address,
caption,
cite,
code,
dfn,
em,
var,
i,
ins {
  margin: 0;
  padding: 0;
  font-style: normal;
  vertical-align: baseline;
}

iframe {
  width: 100%;
  min-height: 100%;
  margin: 0;
  border: 0;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

[role='button'],
a,
area,
input,
label,
select,
summary,
textarea {
  margin: 0;
  padding: 0;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea {
  resize: none;
}

select::-ms-expand {
  display: none;
}

a,
input,
select,
textarea,
button,
.form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: unset;
  -ms-background-color: none;
}

a:hover, a:focus,
input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus,
button:hover,
button:focus,
.form-control:hover,
.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

:root {
  --bugfix-height: 100%;
}

body {
	background-color: #fff;
	font-family: "nskr", -apple-system, "droid sans fallback", "Apple SD Gothic Neo", "AppleGothic", "Malgun Gothic", "맑은 고딕", Dotum, "돋움", sans-serif;
	font-weight: 100;
	line-height: 1.5;
	letter-spacing: -0.02em;
	color: #222;
	word-break: keep-all;
	word-wrap: break-word;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.bg-def {
	background-color: #24f45e !important;
  }

  .bg-black {
	background-color: #000 !important;
  }

  .bg-white {
	background-color: #fff !important;
  }

  .bg-active {
	background-color: #051335 !important;
  }

  .bg-skyblue-1 {
	background-color: #abc3ff !important;
  }

  .bg-skyblue-2 {
	background-color: #d9e4ff !important;
  }

  .bg-lightpink {
	background-color: #ffd8ee !important;
  }

  .bg-pitch {
	background-color: #ffe8c9 !important;
  }

  .bg-err {
	background-color: #e34140 !important;
  }

  .bg-suc {
	background-color: #00aa2f !important;
  }

  .bg-gray1 {
	background-color: #666 !important;
  }

  .bg-gray2 {
	background-color: #aaa !important;
  }

  .bg-gray3 {
	background-color: #bbb !important;
  }

  .bg-gray4 {
	background-color: #ddd !important;
  }

  .bg-gray5 {
	background-color: #eee !important;
  }

  .bg-gray6 {
	background-color: #f3f3f3 !important;
  }

  .bg-gray7 {
	background-color: #f5f5f5 !important;
  }

  .bg-gray8 {
	background-color: #f8f8f8 !important;
  }

  .bg-gray9 {
	background-color: #fafafa !important;
  }

  .bg-yellow {
	background-color: #ffd600 !important;
  }

  .bg-lime {
	background-color: #80bc00 !important;
  }

  .bg-bluegreen {
	background-color: #004e59 !important;
  }

  .bg-navy {
	background-color: #171c35 !important;
  }

  .cl-def,
  .color-def {
	color: #24f45e !important;
  }

  .cl-black {
	color: #000 !important;
  }

  .cl-white {
	color: #fff !important;
  }

  .cl-active {
	color: #051335 !important;
  }

  .cl-skyblue-1 {
	color: #abc3ff !important;
  }

  .cl-err {
	color: #e34140 !important;
  }

  .cl-suc {
	color: #00aa2f !important;
  }

  .cl-gray1 {
	color: #666 !important;
  }

  .cl-gray2 {
	color: #aaa !important;
  }

  .cl-gray3 {
	color: #bbb !important;
  }

  .cl-gray4 {
	color: #ddd !important;
  }

  .cl-gray5 {
	color: #eee !important;
  }

  .cl-gray6 {
	color: #f3f3f3 !important;
  }

  .cl-gray7 {
	color: #f5f5f5 !important;
  }

  .cl-gray8 {
	color: #f8f8f8 !important;
  }

  .cl-gray9 {
	color: #fafafa !important;
  }

  .cl-yellow {
	color: #ffd600 !important;
  }

  .cl-lime {
	color: #80bc00 !important;
  }

  .cl-bluegreen {
	color: #004e59 !important;
  }

  .cl-navy {
	color: #171c35 !important;
  }

  .color-3 {
	color: #333 !important;
  }

  h1,
  h2,
  h3,
  .h1,
  .h2,
  .h3 {
	margin: 0;
	color: #222;
  }

  h4,
  h5,
  .h4,
  .h5 {
	margin: 0;
	color: #222;
  }

  .h1 {
	font-size: 24px;
  }

  .h2 {
	font-size: 20px;
  }

  .h3 {
	font-size: 18px;
  }

  .h4 {
	font-size: 16px;
  }


h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin: 0;
  color: #222;
}

h4,
h5,
.h4,
.h5 {
  margin: 0;
  color: #222;
}

.h1 {
  font-size: 24px;
}

.h2 {
  font-size: 20px;
}

.h3 {
  font-size: 18px;
}

.h4 {
  font-size: 16px;
}

.h5,
.font-m {
  font-size: 14px !important;
}

.font-s {
  font-size: 13px !important;
}

.h6,
.font-xs {
  font-size: 12px !important;
}

.font-xxs {
  font-size: 11px !important;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
}

.h1 span,
.h2 span,
.h3 span,
.h4 span,
.h5 span {
  font-weight: 100;
}

.h1 strong,
.h2 strong,
.h3 strong,
.h4 strong,
.h5 strong {
  font-weight: 700;
}

.h6 {
  line-height: 1.5;
}

.font-m,
.font-s,
.font-xs,
.font-xxs {
  font-weight: 100;
  color: #666;
}

.font-m strong,
.font-s strong,
.font-xs strong,
.font-xxs strong {
  font-weight: 400;
}

.fw-r {
  font-weight: 100 !important;
}

.fw-m {
  font-weight: 400 !important;
}

.fw-b {
  font-weight: 700 !important;
}

sup,
sub {
  display: inline-block;
}

.layout-auto {
  width: 362px;
  margin: 0 auto;
}

.-mt-0 {
  margin-top: 0px !important;
}

.-mb-0 {
  margin-bottom: 0px !important;
}

.-pt-0 {
  padding-top: 0px !important;
}

.-pb-0 {
  padding-bottom: 0px !important;
}

.-ml-0 {
  margin-left: 0px !important;
}

.-mr-0 {
  margin-right: 0px !important;
}

.-pl-0 {
  padding-left: 0px !important;
}

.-pr-0 {
  padding-right: 0px !important;
}

.-mt-1 {
  margin-top: 1px !important;
}

.-mb-1 {
  margin-bottom: 1px !important;
}

.-pt-1 {
  padding-top: 1px !important;
}

.-pb-1 {
  padding-bottom: 1px !important;
}

.-ml-1 {
  margin-left: 1px !important;
}

.-mr-1 {
  margin-right: 1px !important;
}

.-pl-1 {
  padding-left: 1px !important;
}

.-pr-1 {
  padding-right: 1px !important;
}

.-mt-2 {
  margin-top: 2px !important;
}

.-mb-2 {
  margin-bottom: 2px !important;
}

.-pt-2 {
  padding-top: 2px !important;
}

.-pb-2 {
  padding-bottom: 2px !important;
}

.-ml-2 {
  margin-left: 2px !important;
}

.-mr-2 {
  margin-right: 2px !important;
}

.-pl-2 {
  padding-left: 2px !important;
}

.-pr-2 {
  padding-right: 2px !important;
}

.-mt-3 {
  margin-top: 3px !important;
}

.-mb-3 {
  margin-bottom: 3px !important;
}

.-pt-3 {
  padding-top: 3px !important;
}

.-pb-3 {
  padding-bottom: 3px !important;
}

.-ml-3 {
  margin-left: 3px !important;
}

.-mr-3 {
  margin-right: 3px !important;
}

.-pl-3 {
  padding-left: 3px !important;
}

.-pr-3 {
  padding-right: 3px !important;
}

.-mt-4 {
  margin-top: 4px !important;
}

.-mb-4 {
  margin-bottom: 4px !important;
}

.-pt-4 {
  padding-top: 4px !important;
}

.-pb-4 {
  padding-bottom: 4px !important;
}

.-ml-4 {
  margin-left: 4px !important;
}

.-mr-4 {
  margin-right: 4px !important;
}

.-pl-4 {
  padding-left: 4px !important;
}

.-pr-4 {
  padding-right: 4px !important;
}

.-mt-5 {
  margin-top: 5px !important;
}

.-mb-5 {
  margin-bottom: 5px !important;
}

.-pt-5 {
  padding-top: 5px !important;
}

.-pb-5 {
  padding-bottom: 5px !important;
}

.-ml-5 {
  margin-left: 5px !important;
}

.-mr-5 {
  margin-right: 5px !important;
}

.-pl-5 {
  padding-left: 5px !important;
}

.-pr-5 {
  padding-right: 5px !important;
}

.-mt-6 {
  margin-top: 6px !important;
}

.-mb-6 {
  margin-bottom: 6px !important;
}

.-pt-6 {
  padding-top: 6px !important;
}

.-pb-6 {
  padding-bottom: 6px !important;
}

.-ml-6 {
  margin-left: 6px !important;
}

.-mr-6 {
  margin-right: 6px !important;
}

.-pl-6 {
  padding-left: 6px !important;
}

.-pr-6 {
  padding-right: 6px !important;
}

.-mt-7 {
  margin-top: 7px !important;
}

.-mb-7 {
  margin-bottom: 7px !important;
}

.-pt-7 {
  padding-top: 7px !important;
}

.-pb-7 {
  padding-bottom: 7px !important;
}

.-ml-7 {
  margin-left: 7px !important;
}

.-mr-7 {
  margin-right: 7px !important;
}

.-pl-7 {
  padding-left: 7px !important;
}

.-pr-7 {
  padding-right: 7px !important;
}

.-mt-8 {
  margin-top: 8px !important;
}

.-mb-8 {
  margin-bottom: 8px !important;
}

.-pt-8 {
  padding-top: 8px !important;
}

.-pb-8 {
  padding-bottom: 8px !important;
}

.-ml-8 {
  margin-left: 8px !important;
}

.-mr-8 {
  margin-right: 8px !important;
}

.-pl-8 {
  padding-left: 8px !important;
}

.-pr-8 {
  padding-right: 8px !important;
}

.-mt-9 {
  margin-top: 9px !important;
}

.-mb-9 {
  margin-bottom: 9px !important;
}

.-pt-9 {
  padding-top: 9px !important;
}

.-pb-9 {
  padding-bottom: 9px !important;
}

.-ml-9 {
  margin-left: 9px !important;
}

.-mr-9 {
  margin-right: 9px !important;
}

.-pl-9 {
  padding-left: 9px !important;
}

.-pr-9 {
  padding-right: 9px !important;
}

.-mt-10 {
  margin-top: 10px !important;
}

.-mb-10 {
  margin-bottom: 10px !important;
}

.-pt-10 {
  padding-top: 10px !important;
}

.-pb-10 {
  padding-bottom: 10px !important;
}

.-ml-10 {
  margin-left: 10px !important;
}

.-mr-10 {
  margin-right: 10px !important;
}

.-pl-10 {
  padding-left: 10px !important;
}

.-pr-10 {
  padding-right: 10px !important;
}

.-mt-11 {
  margin-top: 11px !important;
}

.-mb-11 {
  margin-bottom: 11px !important;
}

.-pt-11 {
  padding-top: 11px !important;
}

.-pb-11 {
  padding-bottom: 11px !important;
}

.-ml-11 {
  margin-left: 11px !important;
}

.-mr-11 {
  margin-right: 11px !important;
}

.-pl-11 {
  padding-left: 11px !important;
}

.-pr-11 {
  padding-right: 11px !important;
}

.-mt-12 {
  margin-top: 12px !important;
}

.-mb-12 {
  margin-bottom: 12px !important;
}

.-pt-12 {
  padding-top: 12px !important;
}

.-pb-12 {
  padding-bottom: 12px !important;
}

.-ml-12 {
  margin-left: 12px !important;
}

.-mr-12 {
  margin-right: 12px !important;
}

.-pl-12 {
  padding-left: 12px !important;
}

.-pr-12 {
  padding-right: 12px !important;
}

.-mt-13 {
  margin-top: 13px !important;
}

.-mb-13 {
  margin-bottom: 13px !important;
}

.-pt-13 {
  padding-top: 13px !important;
}

.-pb-13 {
  padding-bottom: 13px !important;
}

.-ml-13 {
  margin-left: 13px !important;
}

.-mr-13 {
  margin-right: 13px !important;
}

.-pl-13 {
  padding-left: 13px !important;
}

.-pr-13 {
  padding-right: 13px !important;
}

.-mt-14 {
  margin-top: 14px !important;
}

.-mb-14 {
  margin-bottom: 14px !important;
}

.-pt-14 {
  padding-top: 14px !important;
}

.-pb-14 {
  padding-bottom: 14px !important;
}

.-ml-14 {
  margin-left: 14px !important;
}

.-mr-14 {
  margin-right: 14px !important;
}

.-pl-14 {
  padding-left: 14px !important;
}

.-pr-14 {
  padding-right: 14px !important;
}

.-mt-15 {
  margin-top: 15px !important;
}

.-mb-15 {
  margin-bottom: 15px !important;
}

.-pt-15 {
  padding-top: 15px !important;
}

.-pb-15 {
  padding-bottom: 15px !important;
}

.-ml-15 {
  margin-left: 15px !important;
}

.-mr-15 {
  margin-right: 15px !important;
}

.-pl-15 {
  padding-left: 15px !important;
}

.-pr-15 {
  padding-right: 15px !important;
}

.-mt-16 {
  margin-top: 16px !important;
}

.-mb-16 {
  margin-bottom: 16px !important;
}

.-pt-16 {
  padding-top: 16px !important;
}

.-pb-16 {
  padding-bottom: 16px !important;
}

.-ml-16 {
  margin-left: 16px !important;
}

.-mr-16 {
  margin-right: 16px !important;
}

.-pl-16 {
  padding-left: 16px !important;
}

.-pr-16 {
  padding-right: 16px !important;
}

.-mt-17 {
  margin-top: 17px !important;
}

.-mb-17 {
  margin-bottom: 17px !important;
}

.-pt-17 {
  padding-top: 17px !important;
}

.-pb-17 {
  padding-bottom: 17px !important;
}

.-ml-17 {
  margin-left: 17px !important;
}

.-mr-17 {
  margin-right: 17px !important;
}

.-pl-17 {
  padding-left: 17px !important;
}

.-pr-17 {
  padding-right: 17px !important;
}

.-mt-18 {
  margin-top: 18px !important;
}

.-mb-18 {
  margin-bottom: 18px !important;
}

.-pt-18 {
  padding-top: 18px !important;
}

.-pb-18 {
  padding-bottom: 18px !important;
}

.-ml-18 {
  margin-left: 18px !important;
}

.-mr-18 {
  margin-right: 18px !important;
}

.-pl-18 {
  padding-left: 18px !important;
}

.-pr-18 {
  padding-right: 18px !important;
}

.-mt-19 {
  margin-top: 19px !important;
}

.-mb-19 {
  margin-bottom: 19px !important;
}

.-pt-19 {
  padding-top: 19px !important;
}

.-pb-19 {
  padding-bottom: 19px !important;
}

.-ml-19 {
  margin-left: 19px !important;
}

.-mr-19 {
  margin-right: 19px !important;
}

.-pl-19 {
  padding-left: 19px !important;
}

.-pr-19 {
  padding-right: 19px !important;
}

.-mt-20 {
  margin-top: 20px !important;
}

.-mb-20 {
  margin-bottom: 20px !important;
}

.-pt-20 {
  padding-top: 20px !important;
}

.-pb-20 {
  padding-bottom: 20px !important;
}

.-ml-20 {
  margin-left: 20px !important;
}

.-mr-20 {
  margin-right: 20px !important;
}

.-pl-20 {
  padding-left: 20px !important;
}

.-pr-20 {
  padding-right: 20px !important;
}

.-mt-21 {
  margin-top: 21px !important;
}

.-mb-21 {
  margin-bottom: 21px !important;
}

.-pt-21 {
  padding-top: 21px !important;
}

.-pb-21 {
  padding-bottom: 21px !important;
}

.-ml-21 {
  margin-left: 21px !important;
}

.-mr-21 {
  margin-right: 21px !important;
}

.-pl-21 {
  padding-left: 21px !important;
}

.-pr-21 {
  padding-right: 21px !important;
}

.-mt-22 {
  margin-top: 22px !important;
}

.-mb-22 {
  margin-bottom: 22px !important;
}

.-pt-22 {
  padding-top: 22px !important;
}

.-pb-22 {
  padding-bottom: 22px !important;
}

.-ml-22 {
  margin-left: 22px !important;
}

.-mr-22 {
  margin-right: 22px !important;
}

.-pl-22 {
  padding-left: 22px !important;
}

.-pr-22 {
  padding-right: 22px !important;
}

.-mt-23 {
  margin-top: 23px !important;
}

.-mb-23 {
  margin-bottom: 23px !important;
}

.-pt-23 {
  padding-top: 23px !important;
}

.-pb-23 {
  padding-bottom: 23px !important;
}

.-ml-23 {
  margin-left: 23px !important;
}

.-mr-23 {
  margin-right: 23px !important;
}

.-pl-23 {
  padding-left: 23px !important;
}

.-pr-23 {
  padding-right: 23px !important;
}

.-mt-24 {
  margin-top: 24px !important;
}

.-mb-24 {
  margin-bottom: 24px !important;
}

.-pt-24 {
  padding-top: 24px !important;
}

.-pb-24 {
  padding-bottom: 24px !important;
}

.-ml-24 {
  margin-left: 24px !important;
}

.-mr-24 {
  margin-right: 24px !important;
}

.-pl-24 {
  padding-left: 24px !important;
}

.-pr-24 {
  padding-right: 24px !important;
}

.-mt-25 {
  margin-top: 25px !important;
}

.-mb-25 {
  margin-bottom: 25px !important;
}

.-pt-25 {
  padding-top: 25px !important;
}

.-pb-25 {
  padding-bottom: 25px !important;
}

.-ml-25 {
  margin-left: 25px !important;
}

.-mr-25 {
  margin-right: 25px !important;
}

.-pl-25 {
  padding-left: 25px !important;
}

.-pr-25 {
  padding-right: 25px !important;
}

.-mt-26 {
  margin-top: 26px !important;
}

.-mb-26 {
  margin-bottom: 26px !important;
}

.-pt-26 {
  padding-top: 26px !important;
}

.-pb-26 {
  padding-bottom: 26px !important;
}

.-ml-26 {
  margin-left: 26px !important;
}

.-mr-26 {
  margin-right: 26px !important;
}

.-pl-26 {
  padding-left: 26px !important;
}

.-pr-26 {
  padding-right: 26px !important;
}

.-mt-27 {
  margin-top: 27px !important;
}

.-mb-27 {
  margin-bottom: 27px !important;
}

.-pt-27 {
  padding-top: 27px !important;
}

.-pb-27 {
  padding-bottom: 27px !important;
}

.-ml-27 {
  margin-left: 27px !important;
}

.-mr-27 {
  margin-right: 27px !important;
}

.-pl-27 {
  padding-left: 27px !important;
}

.-pr-27 {
  padding-right: 27px !important;
}

.-mt-28 {
  margin-top: 28px !important;
}

.-mb-28 {
  margin-bottom: 28px !important;
}

.-pt-28 {
  padding-top: 28px !important;
}

.-pb-28 {
  padding-bottom: 28px !important;
}

.-ml-28 {
  margin-left: 28px !important;
}

.-mr-28 {
  margin-right: 28px !important;
}

.-pl-28 {
  padding-left: 28px !important;
}

.-pr-28 {
  padding-right: 28px !important;
}

.-mt-29 {
  margin-top: 29px !important;
}

.-mb-29 {
  margin-bottom: 29px !important;
}

.-pt-29 {
  padding-top: 29px !important;
}

.-pb-29 {
  padding-bottom: 29px !important;
}

.-ml-29 {
  margin-left: 29px !important;
}

.-mr-29 {
  margin-right: 29px !important;
}

.-pl-29 {
  padding-left: 29px !important;
}

.-pr-29 {
  padding-right: 29px !important;
}

.-mt-30 {
  margin-top: 30px !important;
}

.-mb-30 {
  margin-bottom: 30px !important;
}

.-pt-30 {
  padding-top: 30px !important;
}

.-pb-30 {
  padding-bottom: 30px !important;
}

.-ml-30 {
  margin-left: 30px !important;
}

.-mr-30 {
  margin-right: 30px !important;
}

.-pl-30 {
  padding-left: 30px !important;
}

.-pr-30 {
  padding-right: 30px !important;
}

.-mt-31 {
  margin-top: 31px !important;
}

.-mb-31 {
  margin-bottom: 31px !important;
}

.-pt-31 {
  padding-top: 31px !important;
}

.-pb-31 {
  padding-bottom: 31px !important;
}

.-ml-31 {
  margin-left: 31px !important;
}

.-mr-31 {
  margin-right: 31px !important;
}

.-pl-31 {
  padding-left: 31px !important;
}

.-pr-31 {
  padding-right: 31px !important;
}

.-mt-32 {
  margin-top: 32px !important;
}

.-mb-32 {
  margin-bottom: 32px !important;
}

.-pt-32 {
  padding-top: 32px !important;
}

.-pb-32 {
  padding-bottom: 32px !important;
}

.-ml-32 {
  margin-left: 32px !important;
}

.-mr-32 {
  margin-right: 32px !important;
}

.-pl-32 {
  padding-left: 32px !important;
}

.-pr-32 {
  padding-right: 32px !important;
}

.-mt-33 {
  margin-top: 33px !important;
}

.-mb-33 {
  margin-bottom: 33px !important;
}

.-pt-33 {
  padding-top: 33px !important;
}

.-pb-33 {
  padding-bottom: 33px !important;
}

.-ml-33 {
  margin-left: 33px !important;
}

.-mr-33 {
  margin-right: 33px !important;
}

.-pl-33 {
  padding-left: 33px !important;
}

.-pr-33 {
  padding-right: 33px !important;
}

.-mt-34 {
  margin-top: 34px !important;
}

.-mb-34 {
  margin-bottom: 34px !important;
}

.-pt-34 {
  padding-top: 34px !important;
}

.-pb-34 {
  padding-bottom: 34px !important;
}

.-ml-34 {
  margin-left: 34px !important;
}

.-mr-34 {
  margin-right: 34px !important;
}

.-pl-34 {
  padding-left: 34px !important;
}

.-pr-34 {
  padding-right: 34px !important;
}

.-mt-35 {
  margin-top: 35px !important;
}

.-mb-35 {
  margin-bottom: 35px !important;
}

.-pt-35 {
  padding-top: 35px !important;
}

.-pb-35 {
  padding-bottom: 35px !important;
}

.-ml-35 {
  margin-left: 35px !important;
}

.-mr-35 {
  margin-right: 35px !important;
}

.-pl-35 {
  padding-left: 35px !important;
}

.-pr-35 {
  padding-right: 35px !important;
}

.-mt-36 {
  margin-top: 36px !important;
}

.-mb-36 {
  margin-bottom: 36px !important;
}

.-pt-36 {
  padding-top: 36px !important;
}

.-pb-36 {
  padding-bottom: 36px !important;
}

.-ml-36 {
  margin-left: 36px !important;
}

.-mr-36 {
  margin-right: 36px !important;
}

.-pl-36 {
  padding-left: 36px !important;
}

.-pr-36 {
  padding-right: 36px !important;
}

.-mt-37 {
  margin-top: 37px !important;
}

.-mb-37 {
  margin-bottom: 37px !important;
}

.-pt-37 {
  padding-top: 37px !important;
}

.-pb-37 {
  padding-bottom: 37px !important;
}

.-ml-37 {
  margin-left: 37px !important;
}

.-mr-37 {
  margin-right: 37px !important;
}

.-pl-37 {
  padding-left: 37px !important;
}

.-pr-37 {
  padding-right: 37px !important;
}

.-mt-38 {
  margin-top: 38px !important;
}

.-mb-38 {
  margin-bottom: 38px !important;
}

.-pt-38 {
  padding-top: 38px !important;
}

.-pb-38 {
  padding-bottom: 38px !important;
}

.-ml-38 {
  margin-left: 38px !important;
}

.-mr-38 {
  margin-right: 38px !important;
}

.-pl-38 {
  padding-left: 38px !important;
}

.-pr-38 {
  padding-right: 38px !important;
}

.-mt-39 {
  margin-top: 39px !important;
}

.-mb-39 {
  margin-bottom: 39px !important;
}

.-pt-39 {
  padding-top: 39px !important;
}

.-pb-39 {
  padding-bottom: 39px !important;
}

.-ml-39 {
  margin-left: 39px !important;
}

.-mr-39 {
  margin-right: 39px !important;
}

.-pl-39 {
  padding-left: 39px !important;
}

.-pr-39 {
  padding-right: 39px !important;
}

.-mt-40 {
  margin-top: 40px !important;
}

.-mb-40 {
  margin-bottom: 40px !important;
}

.-pt-40 {
  padding-top: 40px !important;
}

.-pb-40 {
  padding-bottom: 40px !important;
}

.-ml-40 {
  margin-left: 40px !important;
}

.-mr-40 {
  margin-right: 40px !important;
}

.-pl-40 {
  padding-left: 40px !important;
}

.-pr-40 {
  padding-right: 40px !important;
}

.-mt-50 {
  margin-top: 50px !important;
}

.-mb-50 {
  margin-bottom: 50px !important;
}

.-pt-50 {
  padding-top: 50px !important;
}

.-pb-50 {
  padding-bottom: 50px !important;
}

.-mt-52 {
  margin-top: 52px !important;
}

.-mb-52 {
  margin-bottom: 52px !important;
}

.-pt-52 {
  padding-top: 52px !important;
}

.-pb-52 {
  padding-bottom: 52px !important;
}

.-mt-60 {
  margin-top: 60px !important;
}

.-mb-60 {
  margin-bottom: 60px !important;
}

.-pt-60 {
  padding-top: 60px !important;
}

.-pb-60 {
  padding-bottom: 60px !important;
}

.-mt-70 {
  margin-top: 70px !important;
}

.-mb-70 {
  margin-bottom: 70px !important;
}

.-pt-70 {
  padding-top: 70px !important;
}

.-pb-70 {
  padding-bottom: 70px !important;
}

.-mt-72 {
  margin-top: 72px !important;
}

.-mb-72 {
  margin-bottom: 72px !important;
}

.-pt-72 {
  padding-top: 72px !important;
}

.-pb-72 {
  padding-bottom: 72px !important;
}

.-mt-80 {
  margin-top: 80px !important;
}

.-mb-80 {
  margin-bottom: 80px !important;
}

.-pt-80 {
  padding-top: 80px !important;
}

.-pb-80 {
  padding-bottom: 80px !important;
}

.-mt-90 {
  margin-top: 90px !important;
}

.-mb-90 {
  margin-bottom: 90px !important;
}

.-pt-90 {
  padding-top: 90px !important;
}

.-pb-90 {
  padding-bottom: 90px !important;
}

.-mt-170 {
  margin-top: 170px !important;
}

.-mb-170 {
  margin-bottom: 170px !important;
}

.-pt-170 {
  padding-top: 170px !important;
}

.-pb-170 {
  padding-bottom: 170px !important;
}

.-wd-50 {
  width: 50px !important;
}

.wdp-100 {
  width: 100% !important;
}

.-ta-l {
  text-align: left !important;
}

.-ta-r {
  text-align: right !important;
}

.-ta-c {
  text-align: center !important;
}


strong[class^='c-point-def'],
a[class^='c-point-def'],
span[class^='c-point-def'] {
  color: #24f45e;
}

strong[class^='c-point-def'][class$='-m'],
a[class^='c-point-def'][class$='-m'],
span[class^='c-point-def'][class$='-m'] {
  font-weight: 400;
}

strong[class^='c-point-def'][class$='-b'],
a[class^='c-point-def'][class$='-b'],
span[class^='c-point-def'][class$='-b'] {
  font-weight: 700;
}

strong[class^='c-point-black'],
a[class^='c-point-black'],
span[class^='c-point-black'] {
  color: #000;
}

strong[class^='c-point-black'][class$='-m'],
a[class^='c-point-black'][class$='-m'],
span[class^='c-point-black'][class$='-m'] {
  font-weight: 400;
}

strong[class^='c-point-black'][class$='-b'],
a[class^='c-point-black'][class$='-b'],
span[class^='c-point-black'][class$='-b'] {
  font-weight: 700;
}

strong.underline,
a.underline,
span.underline {
  color: #000;
  border-bottom: 1px solid #000;
  position: relative;
  top: -2px;
}

strong.underline-m,
a.underline-m,
span.underline-m {
  color: #000;
  border-bottom: 1px solid #000;
  font-weight: 400;
  position: relative;
  top: -3px;
}

strong.underline-bold,
a.underline-bold,
span.underline-bold {
  color: #000;
  border-bottom: 1px solid #000;
  font-weight: 700;
  position: relative;
  top: -3px;
}

a strong.underline:hover, a strong.underline:focus, a strong.underline-bold:hover, a strong.underline-bold:focus,
a span.underline:hover,
a span.underline:focus,
a span.underline-bold:hover,
a span.underline-bold:focus {
  color: #24f45e;
  border-color: #24f45e;
}

button:not(:disabled), [type='button']:not(:disabled), [type='reset']:not(:disabled), [type='submit']:not(:disabled) {
	cursor: pointer;
}
button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
*[class*='c-container'] {
  max-width: 500px;
  margin: 0 auto;
}
*[class*='c-section'] {
  margin: 0 20px;
}
*[class*='c-bullet-type-'] {
  font-size: 12px;
  font-weight: 100;
  color: #666;
  text-align: left;
}
*[class*='c-bullet-type-'] > li {
  padding-left: 7px;
  position: relative;
  word-break: break-all;
}
*[class*='c-bullet-type-'] > li ~ li {
  margin-top: 8px;
}
*[class*='c-bullet-type-'] > li:before {
  content: '';
  position: absolute;
  top: 7.5px;
  left: 0;
  width: 3px;
  height: 3px;
  background-color: #666;
  border-radius: 50%;
}
